* , *::before , *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #6a4b2b;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.hamburger {
    display : block;
    position: fixed;
    z-index : 3;
    right : 20px;
    top   : 12px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : #555;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }
  
  /* ナビ開いてる時のボタン */
  .hamburger.active {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition     : all 0.3s ease-in-out;
    transition        : all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay     : 0.6s;
    transition-delay        : 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform    : rotate(45deg);
    -o-transform     : rotate(45deg);
    transform        : rotate(45deg);
  }
  .hamburger.active span:nth-child(2){
    width: 0px;
  }
  .hamburger.active span:nth-child(1),
  .hamburger.active span:nth-child(3){
    background :#fff;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }
  .hamburger.active span:nth-child(1){
    -webkit-transform: translateY(4px);
    -ms-transform    : translateY(4px);
    -o-transform     : translateY(4px);
    transform        : translateY(4px);
  }
  
  .hamburger.active span:nth-child(3){
    -webkit-transform: translateY(-16px) rotate(90deg);
    -ms-transform: translateY(-16px) rotate(90deg);
    -o-transform : translateY(-16px) rotate(90deg);
    transform    : translateY(-16px) rotate(90deg);
  }
  
  nav.globalMenuSp {
    position: fixed;
    z-index : 2;
    top  : 0;
    left : 0;
    color: #fff;
    background: rgba(0,0,0,0.7);
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
  }

  nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
  }
  nav.globalMenuSp ul li:hover{
    background :#ddd;
  }
  
  nav.globalMenuSp ul li a {
    display: block;
    color: #fff;
    padding: 1em 0;
    text-decoration :none;
    margin-left: -5%;
  }
  
  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.active {
    opacity: 1;
  }

  .hambmenu_anchor {
      opacity: 0;
      line-height: 50px;
  }

  @keyframes line {
      0% {
          opacity: 0;
          transform: translateX(100%);
      }
      100% {
          opacity: 1;
          transform: translateX(0%);
      }
  }

nav.globalMenuSp.active ul .hambmenu_anchor.anchor1 {
    animation-delay: 0s;
}

nav.globalMenuSp.active ul .hambmenu_anchor.anchor2 {
    animation-delay: .2s;
}

nav.globalMenuSp.active ul .hambmenu_anchor.anchor3 {
    animation-delay: .4s;
}

nav.globalMenuSp.active ul .hambmenu_anchor.anchor4 {
    animation-delay: .6s;
}

nav.globalMenuSp.active ul .hambmenu_anchor.anchor5 {
    animation-delay: .8s;
}

nav.globalMenuSp.active ul .hambmenu_anchor {
    border-bottom: solid;
    margin: 0 5%;
    animation: line 1s forwards;
}

h1 {
    font-size: 26px;
    margin-left: 5%;
    margin-bottom: 5%;
}

.nav {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #d9c2ab;
}

.nav img {
    width: 120px;
}

.area{
    position: relative;
    background-color: #f3f3f3;
    width: 100%;
    height: 100%;
    padding-top: 5%;
    z-index: -2;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 0;
        border-radius: 10%;
    }

    100%{
        transform: translateY(-3500px) rotate(720deg);
        opacity: .5;
        border-radius: 50%;
    }

}

.circle {
    position: absolute;
    display: block;
    list-style: none;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    z-index: -2;
}

.beer {
    left: 25%;
    width: 120px;
    height: 120px;
    position: absolute;
    display: block;
    list-style: none;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -120px;
    z-index: -2;
    animation-delay: 0s;
}

.onigiri {
    left: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    display: block;
    list-style: none;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -120px;
    z-index: -2;
    animation-delay: 2s;
}

.nihonsyu {
    left: 75%;
    width: 160px;
    height: 160px;
    position: absolute;
    display: block;
    list-style: none;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -160px;
    z-index: -2;
    animation-delay: 4s;
}

.tamagoyaki {
    left: 3%;
    width: 180px;
    height: 180px;
    position: absolute;
    display: block;
    list-style: none;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -180px;
    z-index: -2;
    animation-delay: 5s;
}

.karaage {
    left: 65%;
    width: 220px;
    height: 220px;
    position: absolute;
    display: block;
    list-style: none;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -220px;
    z-index: -2;
    animation-delay: 6s;
}

.info {
    margin-top: 5%;
}

.info_title {
    margin-bottom: 15%;
}

.frame {
    position: relative;
    padding: 5%;
}

.frame::before {
    position: absolute;
    top: 30%;
    left: 30%;
    display: block;
    content: "";
    width: 200px;
    height: 200px;
    background: rgba(0,0,0,.2);
    box-shadow:
    inset 0 0 20px rgba(0,0,0,.2) /* 背景色と同じ色 */,
    inset 0 0 20px rgba(0,0,0,.2),
    inset 0 0 20px rgba(0,0,0,.2),
    inset 0 0 20px rgba(0,0,0,.2);
    transform: rotate(
5deg
);
    z-index: 2;
    }

    .picture {
        width: 200px;
        box-shadow: 10px 10px 10px rgb(0 0 0 / 50%);
        position: absolute;
        top: 30%;
        left: 30%;
        transform: rotate(
5deg
);
        z-index: 1;
    }

.frame::after {
    position: absolute;
    top: -20%;
    left: -5%;
    display: block;
    content: "";
    background-image: url(img/board.jpg);
    background-color: rgba(255,255,255,.3);
    background-blend-mode: lighten;
    filter: blur(1px);
    box-shadow: 10px 10px 10px rgb(0 0 0 / 50%);
    width: 350px;
    height: 350px;
    transform: rotate( -5deg);
    z-index: -1;
}

.inner_frame {
    width: 180px;
    height: 180px;
    position: relative;
}

.picture2 {
    width: 180px;
    height: 180px;
    transform: rotate( -15deg);
    position: absolute;
    top: -10%;
    left: -10%;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
}

.inner_frame::before {
    position: absolute;
    top: -10%;
    left: -10%;
    display: block;
    content: "";
    width: 180px;
    height: 180px;
    background: rgba(0,0,0,.2);
    box-shadow:
    inset 0 0 20px rgba(0,0,0,.2) /* 背景色と同じ色 */,
    inset 0 0 20px rgba(0,0,0,.2),
    inset 0 0 20px rgba(0,0,0,.2),
    inset 0 0 20px rgba(0,0,0,.2);
    transform: rotate( -15deg);
    z-index: 1;
}

.info_text {
    max-width: 300px;
    color: #ddd;
    background-color: rgba(0,0,0,.5);
    padding: 5%;
    padding-top: 10%;
    margin-top: 7%;
    margin-left: 20%;
    box-shadow: -10px 10px 10px rgb(0 0 0 / 30%);
}

.title {
    margin-top: 10%;
}

.contents {
    margin-top: 10%;
}

.contents:last-of-type {
    padding-bottom: 20%;
}

.menus , .menus2 {
	display: flex;
}

.menu_contents {
	width: 150px;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: auto;
}

.menu_contents img {
	max-width: 150px;
    height: 200px;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 50%);
    object-fit: cover;
    filter: sepia(.3);
}

.menu_title {
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 0;
}

.price {
    margin-bottom: 10%;
}


.access {
    background-color: #f8f4e6;
    padding: 5% 0;
}

.access p {
    margin-left: 5%;
    margin-bottom: 5%
}

.map {
    text-align: center;
}

iframe {
    width: 90%;
    filter: grayscale(1);
}

footer {
    background-color: #d9c2ab;
    text-align: center;
}

footer img {
    width: 100px;
}

.sns {
    margin-top: -5%;
}

.sns img {
    width: 50px;
    background-position: left;
}

@media (min-width: 769px) {

    h1 {
        text-align: center;
        font-size: 40px;
    }

    p {
        font-size: 24px;
    }

    .back1 {
        height: 2000px;
        width: 1500px;
        background-color: rgba(0, 0, 0,.1);
        top: -70%;
        left: 25%;
        z-index: 0;
    }

    .back2 {
        width: 1300px;
        height: 1500px;
        background-color: rgba(210, 180, 140,.3);
        position: absolute;
        top: -8%;
        left: 5%;
        z-index: -1;
    }

    .back3 {
        width: 2000px;
        height: 2000px;
        background-color: rgba(0, 0, 0,.1);
        position: absolute;
        top: 50%;
        left: 20%;
        z-index: -2;
    }

    .back4 {
        width: 1800px;
        height: 1800px;
        background-color: rgba(210, 180, 140,.3);
        position: absolute;
        top: 15%;
        left: 7%;
        z-index: -1;
    }

    .back5 {
        display: none;
    }

    .info {
        text-align: center;
        margin-top: 10%;
    }

    .frame::before {
        top: 75%;
        left: 40%;
        width: 500px;
        height: 500px;
    }

    .picture {
        width: 500px;
        top: 75%;
        left: 40%;
    }

    .inner_frame::before {
        top: 0%;
        left: 100%;
        width: 400px;
        height: 400px;
    }

    .picture2 {
        width: 400px;
        height: 400px;
        top: 0%;
        left: 100%;
    }

    .frame::after {
        width: 900px;
        height: 900px;
        left: 15%;
    }

    .info_text {
        max-width: 600px;
        margin-top: 30%;
        margin-left: 50%;
    }

    .contents {
        display: flex;
        justify-content: center;
        margin-top: 0%
    }

    .menus {
        display: inline-flex;
    }

    .menu_contents {
        width: 300px;
        margin-right: 10px;
    }

    .menu_contents img {
        max-width: 300px;
    }

    .menu_title {
        font-size: 16px;
    }

    .access {
        margin-top: 10%;
    }

    .access p {
        margin-bottom: 2%;
    }

    iframe {
        width: 60%;
    }

    footer img {
        width: 200px;
    }

    .sns {
        margin-top: 0%;
    }

    .sns img {
        width: 65px;
    }
}
